
DB_PASSWORD=postgresql://neondb_owner:npg_8WSeoNFVslg4@ep-delicate-wildflower-aiysk9jz-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
MINIO_PASSWORD=GeNkmLOAeGCAg/ng5XPCioO0luZSIzny
JWT_SECRET=fee4797b16cb33a45a0d470807ffdbfdf9de1737c167fcd67dbbd9505903086d9006cdcafc509091f26bfefb723361069a3666406d94a010c634e85fe7d20c26
ENCRYPTION_KEY=12b94d777d1a436ddfc73bc816e51a3e1dc123f71425699633617491c12703e9
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_15GMZTDvI9HfMwxL_ZMxJdcGNiRa6Epr9MeGb3OuapKOAH8"
NEXT_PUBLIC_APP_NAME="Hosana City Housing System"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"
